html {
  box-sizing: border-box;
  background-color: #dbd6cf;
  font-family: Bevan, sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #79756f;
  margin: 0;
  border: 3px solid #595652;
}

h1 {
  color: #fff;
  font-weight: bold;
  font-family: Bevan, sans-serif;
  padding: .6em;
  text-align: center;
}

header {
  font-family: Lato, sans-serif;
  color: #fff;
}

nav li {
  display: inline-block;
  text-align: center;
  font-family: Lato, sans-serif;
  color: #fff;
  background-color: #713837;
  border-radius: .5em;
  margin: .3em;
  padding: .5em .75;
  list-style-type: none;
}

a {
  font-family: Lato, sans-serif;
  color: #fff;
  background-color: #713837;
  text-align: center;
}

a:hover {
  background-color: #f33;
}
