html {
  box-sizing: border-box;
  background-color: #dbd6cf;
  font-family: "Bevan", sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

header {
  font-family: "Bevan", sans-serif;
  color: #fff;
}

a {
  display: inline-block;
  color: #fff;
  background-color: #713837;
  margin: 3em;
  padding: 6em;
  border: 3px solid #595652;
  list-style-type: none;
}

a:hover {
  background-color: #f33;
}
